# Ignore everything by default
/*

# Whitelist specific files and directories (use ! to add)
!.gitignore
!README.md
!CONTRIBUTING.md
!LICENSE
!Cargo.toml
!Cargo.lock

# Whitelist directories
!.github/**
!.assets/
!app/
!cli/
!crates/

# Exceptions: Always ignore these patterns even if whitelisted
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*~
**/config.toml
**/target/
